 /* Styles appliqués au corps de la page */
body {
    font-family: Arial, sans-serif; /* Police par défaut */
    background-color: #F2F2F2; /* Couleur de fond gris clair */
    display: flex; /* Utilisation de Flexbox pour centrer le contenu */
    justify-content: center; /* Centre le contenu horizontalement */
    align-items: center; /* Centre le contenu verticalement */
    height: 100vh; /* Hauteur de la page égale à la hauteur de la fenêtre */
    margin: 0; /* Suppression des marges par défaut */
}

/* Styles pour le conteneur de la boîte de connexion */
.login-container {
    background-color: white; /* Fond blanc pour le conteneur */
    padding: 50px; /* Espacement interne */
    border-radius: 8px; /* Coins arrondis */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Ombre légère pour un effet de profondeur */
    width: 600px; /* Largeur fixe du conteneur */
    text-align: center; /* Alignement centré du texte */
}

/* Style pour le titre (h1) */
h1 {
    margin-bottom: 20px; /* Espace en dessous du titre */
    color: #333; /* Couleur du texte */
}

/* Styles pour les champs de texte et de mot de passe */
input[type="text"],
input[type="password"] {
    width: 100%; /* Champs prennent toute la largeur du conteneur */
    padding: 10px; /* Espacement interne des champs */
    margin-bottom: 10px; /* Espace entre les champs */
    border: 1px solid #ccc; /* Bordure grise */
    border-radius: 4px; /* Coins légèrement arrondis */
}

/* Style pour le bouton de connexion */
button {
    background-color: grey; /* Couleur de fond verte */
    color: white; /* Couleur du texte en blanc */
    border: none; /* Suppression de la bordure par défaut */
    padding: 10px; /* Espacement interne */
    width: 100%; /* Le bouton prend toute la largeur du conteneur */
    border-radius: 4px; /* Coins arrondis */
    cursor: pointer; /* Change le curseur en pointeur (main) */
}

button a {
    display: block;
    padding: 10px;
    margin: -5px;
    text-decoration: none;
    color: white;
}

/* Style pour le bouton au survol */
button:hover {
    background-color: #45a049; /* Couleur légèrement plus sombre au survol */
}